In [1]:
import pandas as pd

# Puzzle 1

In [2]:
df = pd.read_csv("./inputs/input.csv", sep="\s+", header=None)
df = df.astype(int)

In [3]:
df.head()

       0      1
0  85215  94333
1  24582  34558
2  98037  94333
3  75786  66247
4  45656  85863

In [4]:
list_1, list_2 = df[0], df[1]

In [10]:
list_1 = list_1.sort_values(ascending=True).reset_index(drop=True)
list_2 = list_2.sort_values(ascending=True).reset_index(drop=True)
df_sorted = pd.concat([list_1, list_2], axis=1)
df_sorted["distance"] = (df_sorted[1] - df_sorted[0]).abs()
total_distance = df_sorted["distance"].sum()
print(f"{total_distance=}")

total_distance=1319616

# Puzzle 2

In [13]:
set_1 = set(list_1)
set_2 = set(list_2)
intersection = set_1.intersection(set_2)

In [20]:
list_2_filtered = list_2[list_2.isin(intersection)]
list_2_count = list_2_filtered.value_counts()
df_2_count = pd.DataFrame(list_2_count).reset_index()
df_2_count.columns = ["value", "count"]
df_2_count["mult"] = df_2_count["value"] * df_2_count["count"]
sum_mult = df_2_count["mult"].sum()
print(f"{sum_mult=}")

sum_mult=27267728